# Compilation files
###################
*.o
*.mod
*.exe

# WRF/WPS temporary files
#########################
WPS/GRIBFILE.*
WPS/Vtable
WPS/geo_em.*
diffwrf
compile_job.*
compile_wps.*
# Added by Ramzi Kutteh starting with V4.4.1
WRF/Registry/Registry
WRF/Registry/io_boilerplate_temporary.inc
WRF/external/io_int/io_int_idx_tags.h
WRF/external/io_int/test_io_idx
WRF/frame/md_calls.inc
WRF/frame/module_dm.F
WRF/frame/module_state_description.F
WRF/inc/dm_comm_cpp_flags
WRF/inc/wrf_io_flags.h
WRF/inc/wrf_status_codes.h
WRF/phys/module_sf_noahmp_glacier.F
WRF/phys/module_sf_noahmp_groundwater.F
WRF/phys/module_sf_noahmpdrv.F
WRF/phys/module_sf_noahmplsm.F
WRF/run/MPTABLE.TBL
WRF/run/namelist.input
WRF/run/input_sounding
WRF/run/namelist.output
WRF/run/iofields.txt
WRF/test/*/BROADBAND_CLOUD_GODDARD.bin
WRF/test/*/README.namelist
WRF/test/*/README.physics_files
WRF/test/*/eclipse_besselian_elements.dat
WRF/test/*/ishmael-gamma-tab.bin
WRF/test/*/ishmael-qi-qc.bin
WRF/test/*/ishmael-qi-qr.bin
WRF/test/*/p3_lookupTable_1.dat-3momI_v5.1.7
WRF/test/*/p3_lookupTable_1.dat-5.3-2momI
WRF/test/*/p3_lookupTable_2.dat-2momI_v5.2.3
WRF/test/*/wind-turbine-1.tbl
WRF/test/*/LANDUSE.TBL
WRF/test/*/RRTMG_LW_DATA
WRF/test/*/RRTMG_SW_DATA
WRF/test/*/ozone.formatted
WRF/test/*/ozone_lat.formatted
WRF/test/*/ozone_plev.formatted
WRF/tools/fseeko64_test
WRF/tools/fseeko_test
WRF/tools/gen_comms.c
WRF/tools/registry
